@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--font-code: 'Fira Code', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;

	--dim-primary: #9FE88D;
	--dim-secondary: #FF7D5C;
	--dim-accent: #C792E9;
	--dim-neutral: #1c212b;
	--dim-neutral-content: #B2CCD6;
	--dim-base-100: #2A303C;
	--dim-base-200: #242933;
	--dim-base-300: #20252E;
	--dim-base-content: #B2CCD6;
	--dim-info: #28ebff;
	--dim-success: #62efbd;
	--dim-warning: #efd057;
	--dim-error: #ffae9b;

	--primary: var(--dim-primary);
	--secondary: var(--dim-secondary);
	--accent: var(--dim-accent);
	--neutral: var(--dim-neutral);
	--neutral-content: var(--dim-neutral-content);
	--base-100: var(--dim-base-100);
	--base-200: var(--dim-base-200);
	--base-300: var(--dim-base-300);
	--base-content: var(--dim-base-content);
	--info: var(--dim-info);
	--success: var(--dim-success);
	--warning: var(--dim-warning);
	--error: var(--dim-error);


	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	margin: 0;
	background-attachment: scroll;
	background-position: center;
	background-size: cover;
	/*background-blend-mode: darken;*/
	background-color: var(--base-100);
	font-family: "Roboto", monospace;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent);
	text-decoration: none;
	font-size: 16px;
	transition: font-size 0.3s ease;
}

a:hover {
	font-size: 20px;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-body);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
